{{#each famousQuotes}}
   <div class="flex items-center">
      <div class="w-14"><img src="/images/quill.png" class="h-9"></div>
      <div class=""><h2>{{ quote }}</h2></div>
   </div>
   <br />
   {{ author }}
   <br /><br />
   
   <br><br>
{{/each}}
